<section class="fullpage bg-grey auto-height-mobile" id="about">
	<div class="v-center">


		<div class="container">

			<div class="row">
				<div class="col span-8 mobile-12">
					<div class="padded-multiline-container init" data-aos="slide-up">We are a small team of hybrids researchers,designers and technologists.</div>
				</div>
			</div>
			<div class="row">

				<div class="col span-10 mobile-12">
					<div class="text-box bg-white with-shadow" data-aos="slide-up" data-aos-delay=100>
						We build playful,connected and intelligent things with startups and companies around the world.
						<br /><br />
We blur hardware and software, code and design, people and machines. We play with emerging technologies to find new interactions and mental models and we think in iterations and prototypes rather than post-its.
					</div>
				</div>

			</div>
		</div>
	</div>

	</div>
</section>
