<section class="fullpage nopadding bg-blue auto-height-mobile">
	<div class="v-center">
		<div class="container">

			<div class="row">
				<div class="col span-8 mobile-12">
					<div class="padded-multiline-container init" data-aos="slide-up">ready for the next iteration?</div>
				</div>
			</div>


			<div class="row">
				<div class="span-6  mobile-12 col">

					<script>
						// JS active
						(function(html) {
							html.className += ' js';
						})(document.documentElement);
					</script>

					<form netlify name="contact" method="POST" action="thank-you" netlify-honeypot="bot-field" class="fp-form" id="contact-form">

						<p class="hidden">
							<label>Don’t fill this out if you're human: <input name="bot-field"></label>
						</p>

						<div class="fp-row">
							<label class="fp-floating-label" for="fpFirstName">Name</label>
							<input type="text" name="name" id="fpFirstName" required data-store />
						</div>

						<div class="fp-row">
							<label class="fp-floating-label" for="fpEmail">Email</label>
							<input class="fp-do-expand" type="email" name="email" id="fpEmail" required data-store />
						</div>

						<div class="fp-row">
							<label class="fp-floating-label" for="fpNotes">Message</label>
							<textarea name="message" id="fpNotes" required data-store></textarea>
						</div>

						<button type="submit" class="submit">GO!</button>
					</form>

				</div>




				<div class="span-5 span-offset-1 mobile-12 mobile-offset-0 col">
					<div class="iteration-animation" data-aos="slide-up" data-aos-delay="200">
						<img src="assets/iteration.svg" class="responsive-img" id="loop" />

						<div class="changing-text">
							<ul class="keywords">
								<li>play</li>
								<li>code</li>
								<li>think</li>
								<li>test</li>
								<li>shit!</li>
								<li>repeat</li>
								<li>research</li>
								<li>design</li>
								<li>prototype</li>
								<li>test again</li>
								<li>Yes!</li>
								<li>repeat</li>
								<li>detail</li>
								<li>polish</li>
								<li>build</li>
								<li>deliver</li>
								<li>finally!</li>
								<li>repeat</li>
							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

</section>
