<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
	<base href="{{ $.Site.BaseURL }}">
	<title>{{ $.Site.Title }}</title>

	<meta name="keywords" content="design, interaction design, technology, future, prototyping, iteration">
	<meta name="description" content="ante:fact is a small team of hybrids researchers, designers and technologists. We play with emerging technologies to find new interactions and mental models, we help startups and big companies to explore and prototype future products and experiences and we build tools to make it easier for others too.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	{{ $sass := resources.Get "sass/main.scss" }}
	{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
	<link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	
	<link rel="icon"
      type="image/png"
      href="/assets/favicon.png" />
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-84139340-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-84139340-1');
			</script>

</head>

<body>
