<section class="hero flex flex-column" id="hero">
    <div class="navbar-spacer"></div>
    <div class="videoContainer">
        <video class="responsive-img" preload="auto" autoplay="true" playsinline="true" loop="true" muted="true">
            <source type="video/webm" src="/vid/hero.webm">
        </video> 
    </div>

    <div class="navbar-spacer spacer-with-Border flex flex-row ">
        <div class="section-separator hidden-on-mobile">
            <h1>Currently</h1>
            <object data="/vectors/arrow80.svg" width="80" height="80"> </object>
        </div>

        <div class="section-separator show-on-mobile">
            <h1>Experiences</h1>
            <object data="/vectors/arrow30.svg" width="30" height="30" style="rotate: 90deg"> </object>
        </div>

    </div>
</section>
