<section class="hero flex flex-column" id="hero">
    <div class="navbar-spacer"></div>
    <div class="videoContainer">
        <video class="responsive-img" autoplay="true" loop="true">
            <source type="video/webm" src="/vid/hero.webm">
        </video> 
    </div>

    <div class="navbar-spacer spacer-with-Border flex flex-row">
        <div class="section-separator">
            <h1>Currently</h1>
            <object data="/vectors/arrow80.svg" width="80" height="80"> </object>
        </div>

    </div>
</section>
