<section class="navbar krona-one-regular" id="navbar">

				<div class="navbar-left">
					<a href="" class="button inactive">
						<canvas id="home_btn" width="200px" height="50px"></canvas>
					</a>				
				</div>
				
				<div class="navbar-center">
						<!-- <a href="" class="button inactive">
							Design
						</a>
						<a href="" class="button inactive">
							Art
						</a>
						<a href="" class="button inactive">
							Tools
						</a>
					 -->
				</div>
				<div class="navbar-right">
					<a href="/about/me/" class="button inactive internal-link" style="text-align: right;">
						About
					</a>
				</div>
	</div>
</section>
