<section id="experience" class="wrapper">
{{ range where $.Data.Pages "Section" "experiences" }}
	{{ range .Pages }}	

		{{ if eq .Params.isCurrent true}}
			{{ .Scratch.Set "title" .Params.title }}
			{{ .Scratch.Set "year" .Params.year }}
			{{ .Scratch.Set "inShort" .Params.inShort }}
			{{ .Scratch.Set "readMore" .Params.readMore }}
			{{ .Scratch.Set "isCurrent" .Params.isCurrent }}
			{{ .Scratch.Set "projectLinks" .Params.projectLinks }}
			{{ .Scratch.Set "bannerType" .Params.bannertype }}
			{{ .Scratch.Set "banner" .Params.banner }}
			{{ partial "portfolioItem.html" . }}
		{{ end }}
	{{ end }}

	<div class="navbar-spacer spacer-with-Border flex flex-row hidden-on-mobile">
		<div class="section-separator">
			<h1>In the past</h1>
			<object data="/vectors/arrow80.svg" width="80" height="80" class="hidden-on-mobile"> </object>
			<object data="/vectors/arrow30.svg" width="30" height="30" class="show-on-mobile"> </object>

		</div>
	</div>
	{{ range .Pages.ByParam "year"}}	
		{{ if eq .Params.isCurrent false}}
			{{ .Scratch.Set "title" .Params.title }}
			{{ .Scratch.Set "year" .Params.year }}
			{{ .Scratch.Set "inShort" .Params.inShort }}
			{{ .Scratch.Set "readMore" .Params.readMore }}
			{{ .Scratch.Set "isCurrent" .Params.isCurrent }}
			{{ .Scratch.Set "projectLinks" .Params.projectLinks }}
			{{ .Scratch.Set "bannerType" .Params.bannertype }}
			{{ .Scratch.Set "bannerStyle" .Params.bannerStyle }}
			{{ .Scratch.Set "backgroundColor" .Params.backgroundColor }}
			{{ .Scratch.Set "banner" .Params.banner }}
			{{ partial "portfolioItem.html" . }}
		{{ end }}
	{{ end }}
{{ end }}

	<section id="archive" class="flex flex-column">
		<div class="navbar-spacer spacer-with-Border flex flex-row hidden-on-mobile">
			<div class="section-separator">
				<h1>Archive</h1>
				<object data="/vectors/arrow80.svg" width="80" height="80"> </object>
			</div>
		</div>

		<div class="flex flex-column show-on-mobile">
			<div class="info flex flex-column">
				<h3 class="title">Archive</h3>
				<p class="summary"> A mixed bag of interactive projects, experiments, tools and visions developed between 2011 and now. </p>
			</div>
        </div>


		<div class="experience-list">
		{{ range where $.Data.Pages "Section" "portfolio" }}
			{{ range (.Pages.ByParam "year").Reverse }}	
					{{ .Scratch.Set "title" .Params.title }}
					{{ .Scratch.Set "year" .Params.year }}
					{{ .Scratch.Set "inShort" .Params.inShort }}
					{{ .Scratch.Set "projectLink" .Permalink }}
					{{ .Scratch.Set "bannerType" .Params.bannertype }}
					{{ .Scratch.Set "banner" .Params.banner }}
					{{ partial "portfolioListItem.html" . }}
			{{ end }}
		{{ end }}
	</div>
	</section>
</section>
